<div class="login_board">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <div class="w3-container w3-teal">
    <h2>Log in</h2>
  </div>
  <form class="w3-container">
    <label class="w3-text-teal"><b>Student Number :</b></label>
    <input class="w3-input w3-border w3-light-grey" type="text" id="studentNumber" 
      v-model="student_number">
    <label class="w3-text-teal"><b>Password :</b></label>
    <input class="w3-input w3-border w3-light-grey" type="password" id="password" 
      v-model="password"><br>
    <button class="w3-btn w3-blue-grey" type="button" @click="enterSystem()">
      Login
    </button>{{enter_state}}
</form>
</div>
